body {
  padding-left: 40px;
  font-family: Arial, sans-serif;
}

table {
  text-align: center;
  border-collapse: collapse;
}

td {
  border: 5px solid black;
  width:100px;
  height:100px;
}

td {
  cursor: pointer;
  font-size: 30px;
  color: red;
}

#score {
  text-align: center;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
